<footer class="page-footer font-small bg-dark">
  <div class="footer-copyright text-center text-light py-3">© Copyright 2021, 
    <a href="/"> Examination System</a> by Sourabh Sharma
  </div>
</footer>